body{
  font-family: "Ubuntu", sans-serif;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.menu-main{
  position: fixed;
  background-color: #181723;
  height: 100%;
  width: 0;
  top: 0px;
  z-index: 6;
  transition: 0.7s;
  padding-top: 60px;
  box-shadow: 20px #3333;
  overflow-x: visible;
  overflow-y: hidden;
}

.menu-main a{
  height: 50px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  padding-bottom: 40px;
  padding-left: 10px;
}

.menu-text {
  color: #9999;
  text-align: left;
  font-size: 35px;
}

.menu-text:hover {
  color: #70c8d2;
  cursor: pointer;
}

.credits-bottom-menu {
  position: relative;
  bottom: 5px;
  color: #3333;
  text-align: center;
  font-size: 9px;
}

.hap-section {
  color: white;
  width: 100%;
  margin-top: 80px;
}

.hero-image{
  position: relative;
  z-index: 3;
  /* float: ÷left; */
}

.hero-image img{
  width: 100%;
}

.hero-text{
  position: relative;
  color: white;
  background-color: rgba(28, 26, 40, 0.85);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  width: 80%;
  border-radius: 25px;
  padding: 3px 0px 3px 0px;
  margin: auto;
  box-sizing: 0 0 4 10px #000000;
}

.hero-text-outer{
  position: absolute;
  top: 15%;
  width: 100%;
  z-index: 4;
}

.hero-media{
  display: relative;
  width: 80%;
  height: 40px;
  margin: auto;
  text-align: center;
}

.hero-media a{
  display: relative;
  margin: auto;
}

.button-open{ 
  color: white; 
  cursor: pointer;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
}

.button-open:hover{
  animation-name: rotate;
  animation-duration: 0.5s;
}

.button-open-outer{
  position: fixed;
  top: 0px;
  margin-left: 5px;
  z-index: 5;
}

.button-close{
  position: absolute;
  right: 0px;
  top: -50px;
  color: white;
  font-size: 50px;
  text-align: right;
  margin: 40px 10px 0px 0px;
  cursor: pointer;
}

.button-close:hover {
  color:#6f669c;
}

.flip-card {
  background-color: transparent;
  height: 250px;
  width: 250px;
  perspective: 1000px;
  border-radius: 25px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 25px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25px;
}

.flip-card-front {
  background-color: #181723;
  color: black;
  border-radius: 25px;
}

.flip-card-front h1 {
  text-align: center;
  width: 180;
  border-radius: 25px;
}

.flip-card-back {
  background-color: #181723;
  color: white;
  transform: rotateY(180deg);
  border-radius: 25px;
}

.card-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1620x;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  padding: 10px;
  gap: 30px 30px;
  border-radius: 25px;
}

@keyframes downarrowmove {
  0%, 100% {
    bottom: -100px;
  }
  50% {
    bottom: 0px;
  }
}

.scroll-to-continue-image {
  position: absolute;
  animation: downarrowmove 1.8s cubic-bezier(0.78,0,0.16,1) infinite;
  margin: 0px 49% 150px;
  height: 140;
  width: auto;
  color:rgba(255,255,255,0.7);
}

.fa {
  padding: 5px 5px;
  font-size: 50px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
}

.fa:hover{
  opacity: 0.7;
}

.fa-github{
  background:#6e5494;
  color: whitesmoke;
}

.fa-youtube{
  background:#FF0000;
  color: whitesmoke;
}

.fa-reddit{
  background: #FF4500;
  color: whitesmoke;
}

.empty-box{
  height: 200px;
  width: 100%;
}

.projects {
  margin: 0 50 0 50;
}

.project-title-text {
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
}

.project-main-text {
  text-indent: 4em;
  font-size: 16px;
  text-align: center;
}

.project-image {
  height: 250px;
  width: 250px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20%
}

.text-block {
  height: 250px;
  width: 800px;
  display: inline-block;
  vertical-align: middle;
}